@charset "UTF-8";
$baseFontSize: 72px !default;
// pixels to rem
@function rem($px) {
    @return $px / $baseFontSize * 1rem;
}

.app-header {
    width: 10rem;
    height: rem(88px);
    overflow: hidden;
    background-color: #ffda44;
    line-height: rem(88px);
    text-align: center;
    font-size: rem(32px);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    .app-header-title {
        font-size: rem(36px);
        color: #4e5661;
    }
    .back-btn {
        position: absolute;
        left: 0;
        top: 0;
        width: rem(80px);
        height: rem(88px);
        background: url(./image/zzz_03.jpg)rem(30px) rem(27px) no-repeat;
        background-size: rem(19px) rem(35px);
    }
}