    @charset "UTF-8";
    $baseFontSize: 75px !default; // pixels to rem
    @function rem($px) {
        @return $px / $baseFontSize * 1rem;
    }

    [data-page="home"] {
        font-size: rem(24px);
        background-color: #f5f6f8;
        padding-bottom: rem(190px);
        min-height: rem(1250px);
        .card {
            font-size: rem(24px);
            width: rem(690px);
            height: rem(300px);
            background-color: #fff;
            float: left;
            margin-top: rem(18px);
            margin-left: rem(30px);
            position: relative;
            .y-left {
                width: rem(30px);
                height: rem(30px);
                background-color: #f5f6f8;
                border-radius: 50%;
                position: absolute;
                bottom: rem(50px);
                left: rem(-15px);
            }
            .y-right {
                width: rem(30px);
                height: rem(30px);
                background-color: #f5f6f8;
                border-radius: 50%;
                position: absolute;
                bottom: rem(50px);
                right: rem(-15px);
            }
            .line {
                width: rem(644px);
                border-bottom: rem(2px) dashed #e2e2e2;
                position: absolute;
                left: rem(23px);
                bottom: rem(65px);
            }
            .icon {
                width: rem(104px);
                height: rem(106px);
                position: absolute;
                right: 0;
                top: 0;
            }
            .stamp {
                width: rem(151px);
                height: rem(116px);
                position: absolute;
                right: rem(33px);
                bottom: rem(27px);
                background: url(../image/i-over.png)center center no-repeat;
                background-size: rem(151px) rem(116px);
            }
            .name {
                float: left;
                margin-left: rem(45px);
                margin-top: rem(34px);
                font-size: rem(32px);
                color: #000;
                font-weight: bold;
                width: rem(450px);
                height: rem(32px);
                line-height: rem(32px);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .number {
                float: left;
                margin-left: rem(45px);
                margin-top: rem(16px);
                width: rem(450px);
                height: rem(22px);
                line-height: rem(22px);
                font-size: rem(22px);
                color: #7d7f80;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .text-0 {
                float: left;
                margin-left: rem(45px);
                margin-top: rem(30px);
                width: rem(450px);
                height: rem(24px);
                line-height: rem(24px);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                span {
                    margin-right: rem(5px);
                }
            }
            .text-1 {
                float: left;
                margin-left: rem(45px);
                margin-top: rem(15px);
                width: rem(450px);
                height: rem(24px);
                line-height: rem(24px);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .text-2 {
                float: left;
                margin-left: rem(45px);
                margin-top: rem(15px);
                width: rem(450px);
                height: rem(24px);
                line-height: rem(24px);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .text-3 {
                position: absolute;
                left: rem(45px);
                bottom: rem(23px);
            }
            .text-4 {
                position: absolute;
                right: rem(45px);
                bottom: rem(23px);
            }
            .text-5 {
                position: absolute;
                right: rem(67px);
                top: rem(89px);
                color: #ef3434;
                font-size: rem(36px);
                em {
                    font-size: rem(70px);
                    font-style: normal;
                }
            }
        }
        .card-ping {
            height: rem(340px);
            .icon {
                background: url(../image/i-ping-1.png)center center no-repeat;
                background-size: rem(104px) rem(106px);
            }
            .icon.over {
                background: url(../image/i-ping-2.png)center center no-repeat;
                background-size: rem(104px) rem(106px);
            }
        }
        .card-dai {
            .number {
                margin-bottom: rem(55px);
            }
            .icon {
                background: url(../image/i-dai-1.png)center center no-repeat;
                background-size: rem(104px) rem(106px);
            }
            .icon.over {
                background: url(../image/i-dai-2.png)center center no-repeat;
                background-size: rem(104px) rem(106px);
            }
        }
        .card-man {
            .icon {
                background: url(../image/i-man-1.png)center center no-repeat;
                background-size: rem(104px) rem(106px);
            }
            .icon.over {
                background: url(../image/i-man-2.png)center center no-repeat;
                background-size: rem(104px) rem(106px);
            }
        }
    }

    [data-page="add"] {
        font-size: rem(24px);
        background-color: #f5f6f8;
        padding-bottom: rem(190px);
        min-height: rem(1250px);
        .card {
            width: rem(716px);
            height: rem(231px);
            float: left;
            margin-top: rem(25px);
            margin-left: rem(17px);
            position: relative;
            .name {
                font-size: rem(34px);
                color: #000; //font-weight: bold;
                position: absolute;
                left: rem(123px);
                top: rem(34px);
            }
            .text {
                font-size: rem(24px);
                color: #999;
                position: absolute;
                left: rem(123px);
                top: rem(84px);
                width: rem(540px);
                height: rem(24px);
                line-height: rem(24px);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .btn {
                width: rem(160px);
                height: rem(77px);
                color: #1784ff;
                text-align: center;
                line-height: rem(77px);
                font-size: rem(30px); //font-weight: bold;
                position: absolute;
                bottom: rem(10px);
                left: rem(278px);
            }
        }
        .card-ping {
            background: url(../image/img-ping.png)center center no-repeat;
            background-size: rem(716px) rem(231px);
        }
        .card-dai {
            background: url(../image/img-dai.png)center center no-repeat;
            background-size: rem(716px) rem(231px);
        }
        .card-man {
            background: url(../image/img-man.png)center center no-repeat;
            background-size: rem(716px) rem(231px);
        }
    }

    [data-page="setpz"] {
        background-color: #f5f6f8;
        padding-bottom: rem(190px);
        min-height: rem(1200px);
        .row {
            width: 10rem;
            height: rem(88px);
            line-height: rem(88px);
            background-color: #fff;
            .left {
                margin-left: rem(30px);
            }
            .right {
                margin-right: rem(30px);
                input {
                    text-align: right;
                }
                span {
                    padding-right: rem(40px);
                    background: url(../image/i-right.png) right center no-repeat;
                    background-size: rem(16px) rem(25px);
                }
            }
            .btn-1,
            .btn-2 {
                float: left;
                width: rem(240px);
                height: rem(60px);
                text-align: center;
                line-height: rem(60px);
                border: 1px solid #cacaca;
                border-radius: rem(10px);
                margin-left: rem(30px);
                font-size: rem(28px);
                &.active {
                    border: 1px solid #2387f7;
                    color: #2387f7;
                }
            }
        }
        .headbar {
            width: 10rem;
            height: rem(70px);
            line-height: rem(70px);
            .text-1 {
                float: left;
                margin-left: rem(77px);
                margin-right: rem(10px);
            }
            .text-2 {
                float: left;
                font-size: rem(24px);
                color: #1d87eb;
            }
        }
        .headbar.i-time {
            background: url(../image/i-time.png) rem(30px) rem(21px) no-repeat;
            background-size: rem(28px) rem(28px);
        }
        .headbar.i-laba {
            background: url(../image/i-laba.png) rem(30px) rem(21px) no-repeat;
            background-size: rem(28px) rem(28px);
        }
        .section {
            width: 10rem;
            background-color: #fff;
            padding-bottom: rem(20px);
            border-bottom: rem(2px) solid #f2f2f2;
            .list {
                width: 10rem;
                height: rem(50px);
                padding-right: rem(30px);
                line-height: rem(50px);
                font-size: rem(24px);
                text-align: right;
                color: #1d87eb;
            }
        }
        .am-list-item {
            font-size: rem(24px);
        }
        .btn-submit {
            width: 10rem;
            height: rem(98px);
            line-height: rem(98px);
            background-color: #1785ff;
            color: #fff;
            text-align: center;
            position: fixed;
            bottom: 0;
            left: 0;
            font-size: rem(30px);
        }
    }

    [data-page="setmj"],
    [data-page="setdj"] {
        background-color: #f5f6f8;
        padding-bottom: rem(190px);
        min-height: rem(1200px);
        .row {
            width: 10rem;
            height: rem(88px);
            line-height: rem(88px);
            background-color: #fff;
            .left {
                margin-left: rem(30px);
            }
            .right {
                margin-right: rem(30px);
                input {
                    text-align: right;
                }
                span {
                    padding-right: rem(40px);
                    background: url(../image/i-right.png) right center no-repeat;
                    background-size: rem(16px) rem(25px);
                }
            }
            .btn-1,
            .btn-2 {
                float: left;
                width: rem(240px);
                height: rem(60px);
                text-align: center;
                line-height: rem(60px);
                border: 1px solid #cacaca;
                border-radius: rem(10px);
                margin-left: rem(30px);
                font-size: rem(28px);
                &.active {
                    border: 1px solid #2387f7;
                    color: #2387f7;
                }
            }
        }
        .headbar {
            width: 10rem;
            height: rem(70px);
            line-height: rem(70px);
            .text-1 {
                float: left;
                margin-left: rem(77px);
                margin-right: rem(10px);
            }
            .text-2 {
                float: left;
                font-size: rem(24px);
                color: #1d87eb;
            }
        }
        .headbar.i-time {
            background: url(../image/i-time.png) rem(30px) rem(21px) no-repeat;
            background-size: rem(28px) rem(28px);
        }
        .headbar.i-laba {
            background: url(../image/i-laba.png) rem(30px) rem(21px) no-repeat;
            background-size: rem(28px) rem(28px);
        }
        .btn-submit {
            width: 10rem;
            height: rem(98px);
            line-height: rem(98px);
            background-color: #1785ff;
            color: #fff;
            text-align: center;
            position: fixed;
            bottom: 0;
            left: 0;
            font-size: rem(30px);
        }
    }

    [data-page="details"] {
        font-size: rem(24px);
        background-color: #f5f6f8;
        padding-bottom: rem(190px);
        min-height: rem(1250px);
        .headbar {
            width: 10rem;
            height: rem(88px);
            line-height: rem(88px);
            background-color: #fff;
            margin-bottom: rem(15px);
            .btn {
                font-size: rem(30px);
            }
            .btn.active {
                color: #1186ed;
                background: url(../image/bottom-line_03.jpg) center bottom no-repeat;
                background-size: rem(48px) rem(3px);
            }
            .btn-1 {
                float: left;
                margin-left: rem(160px);
            }
            .btn-2 {
                float: right;
                margin-right: rem(160px);
            }
        }
        .content {
            width: 10rem;
            padding-bottom: rem(120px);
        }
        .card {
            width: rem(720px);
            margin: 0 rem(15px) 0 rem(15px);
            min-height: rem(600px);
            background-color: #fff;
            border-radius: rem(15px);
            position: relative;
            padding-top: rem(184px);
            padding-bottom: rem(40px);
            .c-left {
                width: rem(30px);
                height: rem(30px);
                background-color: #f5f6f8;
                border-radius: 50%;
                position: absolute;
                top: rem(135px);
                left: rem(-15px);
            }
            .c-right {
                width: rem(30px);
                height: rem(30px);
                background-color: #f5f6f8;
                border-radius: 50%;
                position: absolute;
                top: rem(135px);
                right: rem(-15px);
            }
            .c-icon {
                width: rem(53px);
                height: rem(53px);
                position: absolute;
                left: rem(189px);
                top: rem(36px);
            }
            .icon-pz {
                background: url(../image/i-ping.png)center center no-repeat;
                background-size: rem(53px) rem(53px);
            }
            .c-name {
                font-size: rem(34px);
                color: #000;
                font-weight: bold;
                position: absolute;
                left: rem(258px);
                top: rem(44px);
            }
            .c-number {
                font-size: rem(24px);
                color: #cfcfcf;
                position: absolute;
                left: rem(277px);
                top: rem(97px);
            }
            .row {
                width: 100%;
                height: rem(34px);
                line-height: rem(34px);
                margin-bottom: rem(40px);
                font-size: rem(34px);
                .left {
                    margin-left: rem(30px);
                    color: #959595;
                }
                .right {
                    margin-right: rem(30px);
                }
            }
            .row-2 {
                width: 100%;
                font-size: rem(34px);
                .left {
                    margin-left: rem(30px);
                    color: #959595;
                }
                .right {
                    margin-right: rem(30px);
                    .item {
                        width: rem(380px);
                        height: rem(34px);
                        line-height: rem(34px);
                        text-align: right;
                        margin-bottom: rem(40px);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .text {
                        width: rem(500px);
                        text-align: right;
                    }
                }
            }
        }
        .list {
            width: 10rem;
            height: rem(200px);
            background-color: #fff;
            background-image: url(../image/i-qizi.png);
            background-repeat: no-repeat;
            background-position: rem(42px) rem(38px);
            background-size: rem(44px) rem(46px);
            position: relative;
            .name {
                font-size: rem(34px);
                color: #000;
                position: absolute;
                left: rem(120px);
                top: rem(37px);
            }
            .i-1 {
                font-size: rem(24px);
                color: #157efe;
                padding: rem(4px) rem(8px);
                border: 1px solid #157efe;
                position: absolute;
                left: rem(120px);
                top: rem(90px);
            }
            .num {
                font-size: rem(24px);
                color: #000;
                position: absolute;
                left: rem(243px);
                top: rem(93px);
            }
            .time {
                font-size: rem(24px);
                color: #969696;
                position: absolute;
                left: rem(120px);
                top: rem(140px);
            }
            .line {
                width: rem(630px);
                border-bottom: 1px solid #e5e5e5;
                position: absolute;
                left: rem(120px);
                bottom: 0;
            }
        }
        .btn-del {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 5rem;
            height: rem(98px);
            line-height: rem(98px);
            text-align: center;
            color: #1785ff;
            background-color: #fff;
            border-top: 1px solid #d1d1d3;
        }
        .btn-push {
            position: fixed;
            right: 0;
            bottom: 0;
            width: 5rem;
            height: rem(98px);
            line-height: rem(98px);
            text-align: center;
            background-color: #1785ff;
            color: #fff;
            border-top: 1px solid #d1d1d3;
        }
    }

    [data-page='choose'] {
        font-size: rem(24px);
        background-color: #fff;
        padding-bottom: rem(190px);
        min-height: rem(1250px);
        .headbar {
            width: 10rem;
            height: rem(200px);
            margin-bottom: rem(45px);
            .img {
                width: rem(140px);
                height: rem(138px);
                background: url(../image/i-success.png)center center no-repeat;
                background-size: rem(140px) rem(138px);
                float: left;
                margin-left: rem(309px);
                margin-bottom: rem(30px);
            }
            .t-1 {
                float: left;
                width: 10rem;
                text-align: center;
                font-size: rem(24px);
            }
        }
        .t-2 {
            font-size: rem(30px);
            width: 10rem;
            height: rem(30px);
            line-height: rem(30px);
            color: #000;
            text-indent: rem(30px);
            margin-bottom: rem(45px);
        }
        .setion {
            .list {
                width: 10rem;
                height: rem(190px);
                line-height: rem(190px);
                border-bottom: 1px solid #e3e9ed;
                .left {
                    margin-left: rem(197px);
                }
                .right {
                    width: rem(16px);
                    height: 100%;
                    margin-right: rem(35px);
                    background: url(../image/i-right.png) center rem(80px) no-repeat;
                    background-size: rem(16px) rem(25px);
                }
            }
            .l-1 {
                background: url(../image/type-1.png)rem(35px) rem(40px) no-repeat;
                background-size: rem(120px) rem(120px);
            }
            .l-2 {
                background: url(../image/type-2.png)rem(35px) rem(40px) no-repeat;
                background-size: rem(120px) rem(120px);
            }
            .l-3 {
                background: url(../image/type-3.png)rem(35px) rem(40px) no-repeat;
                background-size: rem(120px) rem(120px);
            }
        }
        .btn {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 10rem;
            height: rem(98px);
            line-height: rem(98px);
            text-align: center;
            background-color: #1784ff;
            font-size: rem(32px);
            color: #fff;
        }
    }

    [data-page='selfcard'] {
        background-color: #f5f5f5;
        padding-bottom: rem(190px);
        min-height: rem(1250px);
        .row {
            width: 10rem;
            height: rem(88px);
            line-height: rem(88px);
            background-color: #fff;
            font-size: rem(30px);
            .left {
                margin-left: rem(30px);
            }
            .right {
                margin-right: rem(30px);
                input {
                    width: rem(450px);
                    text-align: right;
                }
                span {
                    padding-right: rem(40px);
                    background: url(../image/i-right.png) right center no-repeat;
                    background-size: rem(16px) rem(25px);
                }
            }
        }
        .btn {
            width: 5rem;
            height: rem(98px);
            line-height: rem(98px);
            text-align: center;
            float: left;
            position: fixed;
            bottom: 0;
        }
        .btn-1 {
            background-color: #fff;
            color: #1784ff;
            left: 0;
        }
        .btn-2 {
            right: 0;
            background-color: #1784ff;
            color: #fff;
        }
        .card {
            font-size: rem(24px);
            width: rem(690px);
            height: rem(300px);
            background-color: #fff;
            margin-top: rem(18px);
            margin-left: rem(30px);
            margin-bottom: rem(18px);
            position: relative;
            .y-left {
                width: rem(30px);
                height: rem(30px);
                background-color: #f5f6f8;
                border-radius: 50%;
                position: absolute;
                bottom: rem(50px);
                left: rem(-15px);
            }
            .y-right {
                width: rem(30px);
                height: rem(30px);
                background-color: #f5f6f8;
                border-radius: 50%;
                position: absolute;
                bottom: rem(50px);
                right: rem(-15px);
            }
            .line {
                width: rem(644px);
                border-bottom: rem(2px) dashed #e2e2e2;
                position: absolute;
                left: rem(23px);
                bottom: rem(65px);
            }
            .icon {
                width: rem(104px);
                height: rem(106px);
                position: absolute;
                right: 0;
                top: 0;
            }
            .stamp {
                width: rem(151px);
                height: rem(116px);
                position: absolute;
                right: rem(33px);
                bottom: rem(27px);
                background: url(../image/i-over.png)center center no-repeat;
                background-size: rem(151px) rem(116px);
            }
            .name {
                float: left;
                margin-left: rem(45px);
                margin-top: rem(34px);
                font-size: rem(32px);
                color: #000;
                font-weight: bold;
                width: rem(450px);
                height: rem(32px);
                line-height: rem(32px);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .number {
                float: left;
                margin-left: rem(45px);
                margin-top: rem(16px);
                width: rem(450px);
                height: rem(22px);
                line-height: rem(22px);
                font-size: rem(22px);
                color: #7d7f80;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .text-0 {
                float: left;
                margin-left: rem(45px);
                margin-top: rem(30px);
                width: rem(450px);
                height: rem(24px);
                line-height: rem(24px);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                span {
                    margin-right: rem(5px);
                }
            }
            .text-1 {
                float: left;
                margin-left: rem(45px);
                margin-top: rem(15px);
                width: rem(450px);
                height: rem(24px);
                line-height: rem(24px);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .text-2 {
                float: left;
                margin-left: rem(45px);
                margin-top: rem(15px);
                width: rem(450px);
                height: rem(24px);
                line-height: rem(24px);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .text-3 {
                position: absolute;
                left: rem(45px);
                bottom: rem(23px);
            }
            .text-4 {
                position: absolute;
                right: rem(45px);
                bottom: rem(23px);
            }
            .text-5 {
                position: absolute;
                right: rem(67px);
                top: rem(89px);
                color: #ef3434;
                font-size: rem(36px);
                em {
                    font-size: rem(70px);
                    font-style: normal;
                }
            }
        }
        .card-ping {
            height: rem(340px);
            .icon {
                background: url(../image/i-ping-1.png)center center no-repeat;
                background-size: rem(104px) rem(106px);
            }
            .icon.over {
                background: url(../image/i-ping-2.png)center center no-repeat;
                background-size: rem(104px) rem(106px);
            }
        }
        .card-dai {
            .number {
                margin-bottom: rem(55px);
            }
            .icon {
                background: url(../image/i-dai-1.png)center center no-repeat;
                background-size: rem(104px) rem(106px);
            }
            .icon.over {
                background: url(../image/i-dai-2.png)center center no-repeat;
                background-size: rem(104px) rem(106px);
            }
        }
        .card-man {
            .icon {
                background: url(../image/i-man-1.png)center center no-repeat;
                background-size: rem(104px) rem(106px);
            }
            .icon.over {
                background: url(../image/i-man-2.png)center center no-repeat;
                background-size: rem(104px) rem(106px);
            }
        }
        .no-card {
            width: rem(690px);
            height: rem(300px);
            background: url(../image/card-hui.png)center center no-repeat;
            background-size: rem(690px) rem(300px);
            margin-top: rem(18px);
            margin-left: rem(30px);
            margin-bottom: rem(20px);
        }
    }

    [data-page="choosecard"] {
        font-size: rem(24px);
        background-color: #f5f6f8;
        padding-bottom: rem(190px);
        min-height: rem(1250px);
        .card {
            font-size: rem(24px);
            width: rem(690px);
            height: rem(300px);
            background-color: #fff;
            float: left;
            margin-top: rem(18px);
            margin-left: rem(30px);
            position: relative;
            .y-left {
                width: rem(30px);
                height: rem(30px);
                background-color: #f5f6f8;
                border-radius: 50%;
                position: absolute;
                bottom: rem(50px);
                left: rem(-15px);
            }
            .y-right {
                width: rem(30px);
                height: rem(30px);
                background-color: #f5f6f8;
                border-radius: 50%;
                position: absolute;
                bottom: rem(50px);
                right: rem(-15px);
            }
            .radio {
                width: rem(32px);
                height: rem(32px);
                position: absolute;
                right: rem(20px);
                top: rem(150px);
                background: url(../image/Unchecked.png)center center no-repeat;
                background-size: rem(32px) rem(32px);
                &.active {
                    background: url(../image/checkmark.png)center center no-repeat;
                    background-size: rem(32px) rem(32px);
                }
            }
            .line {
                width: rem(644px);
                border-bottom: rem(2px) dashed #e2e2e2;
                position: absolute;
                left: rem(23px);
                bottom: rem(65px);
            }
            .icon {
                width: rem(104px);
                height: rem(106px);
                position: absolute;
                right: 0;
                top: 0;
            }
            .stamp {
                width: rem(151px);
                height: rem(116px);
                position: absolute;
                right: rem(33px);
                bottom: rem(27px);
                background: url(../image/i-over.png)center center no-repeat;
                background-size: rem(151px) rem(116px);
            }
            .name {
                float: left;
                margin-left: rem(45px);
                margin-top: rem(34px);
                font-size: rem(32px);
                color: #000;
                font-weight: bold;
                width: rem(450px);
                height: rem(32px);
                line-height: rem(32px);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .number {
                float: left;
                margin-left: rem(45px);
                margin-top: rem(16px);
                width: rem(450px);
                height: rem(22px);
                line-height: rem(22px);
                font-size: rem(22px);
                color: #7d7f80;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .text-0 {
                float: left;
                margin-left: rem(45px);
                margin-top: rem(30px);
                width: rem(450px);
                height: rem(24px);
                line-height: rem(24px);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .text-1 {
                float: left;
                margin-left: rem(45px);
                margin-top: rem(15px);
                width: rem(450px);
                height: rem(24px);
                line-height: rem(24px);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .text-2 {
                float: left;
                margin-left: rem(45px);
                margin-top: rem(15px);
                width: rem(450px);
                height: rem(24px);
                line-height: rem(24px);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .text-3 {
                position: absolute;
                left: rem(45px);
                bottom: rem(23px);
            }
            .text-4 {
                position: absolute;
                right: rem(45px);
                bottom: rem(23px);
            }
            .text-5 {
                position: absolute;
                right: rem(67px);
                top: rem(89px);
                color: #ef3434;
                font-size: rem(36px);
                em {
                    font-size: rem(70px);
                    font-style: normal;
                }
            }
        }
        .card-ping {
            height: rem(340px);
            .icon {
                background: url(../image/i-ping-1.png)center center no-repeat;
                background-size: rem(104px) rem(106px);
            }
            .icon.over {
                background: url(../image/i-ping-2.png)center center no-repeat;
                background-size: rem(104px) rem(106px);
            }
        }
        .card-dai {
            .number {
                margin-bottom: rem(55px);
            }
            .icon {
                background: url(../image/i-dai-1.png)center center no-repeat;
                background-size: rem(104px) rem(106px);
            }
            .icon.over {
                background: url(../image/i-dai-2.png)center center no-repeat;
                background-size: rem(104px) rem(106px);
            }
        }
        .card-man {
            .icon {
                background: url(../image/i-man-1.png)center center no-repeat;
                background-size: rem(104px) rem(106px);
            }
            .icon.over {
                background: url(../image/i-man-2.png)center center no-repeat;
                background-size: rem(104px) rem(106px);
            }
        }
        .empty {
            font-size: rem(34px);
            width: rem(690px);
            height: rem(300px);
            line-height: rem(300px);
            text-align: center;
            background-color: #fff;
            float: left;
            margin-top: rem(18px);
            margin-left: rem(30px);
            position: relative;
            background-image: url(../image/i-add.png);
            background-repeat: no-repeat;
            background-position: rem(230px) rem(135px);
            background-size: rem(32px) rem(32px);
            .y-left {
                width: rem(30px);
                height: rem(30px);
                background-color: #f5f6f8;
                border-radius: 50%;
                position: absolute;
                bottom: rem(50px);
                left: rem(-15px);
            }
            .y-right {
                width: rem(30px);
                height: rem(30px);
                background-color: #f5f6f8;
                border-radius: 50%;
                position: absolute;
                bottom: rem(50px);
                right: rem(-15px);
            }
            .line {
                width: rem(644px);
                border-bottom: rem(2px) dashed #e2e2e2;
                position: absolute;
                left: rem(23px);
                bottom: rem(65px);
            }
        }
    }

    [data-page='selfcardlist'] {
        font-size: rem(24px);
        background-color: #f5f6f8;
        padding-bottom: rem(190px);
        min-height: rem(1250px);
        .headbar {
            width: 10rem;
            height: rem(88px);
            line-height: rem(88px);
            background-color: #fff;
            margin-bottom: rem(15px);
            .btn {
                font-size: rem(30px);
                float: left;
                width: 3.3rem;
                text-align: center;
            }
            .btn.active {
                color: #1186ed;
                background: url(../image/bottom-line_03.jpg) center bottom no-repeat;
                background-size: rem(48px) rem(3px);
            }
        }
        .content {
            width: 10rem;
            padding-bottom: rem(120px);
        }
        .card {
            width: 10rem;
            height: rem(303px);
            background: url(../image/quan-img.png)rem(18px) center no-repeat;
            background-size: rem(713px) rem(303px);
            position: relative;
            font-size: rem(24px);
            color: #989898;
            .icon {
                width: rem(53px);
                height: rem(53px);
                border-radius: 50%;
                background-color: #1784ff;
                color: #fff;
                font-size: rem(36px);
                text-align: center;
                line-height: rem(53px);
                position: absolute;
                left: rem(69px);
                top: rem(24px);
            }
            .status {
                width: rem(98px);
                height: rem(45px);
                text-align: center;
                line-height: rem(45px);
                font-size: rem(24px);
                background-color: #e7f2ff;
                color: #1784ff;
                position: absolute;
                right: rem(60px);
                top: rem(28px);
                border-radius: rem(22px);
            }
            .line {
                float: left;
                margin-left: rem(140px);
                width: rem(550px);
                height: rem(30px);
                line-height: rem(30px);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .name {
                float: left;
                font-size: rem(30px);
                color: #000;
                margin-left: rem(140px);
                margin-top: rem(32px);
                margin-bottom: rem(15px);
            }
            .num {
                float: left;
                margin-left: rem(140px);
                margin-bottom: rem(20px);
            }
            .l-1,
            .l-2,
            .l-3 {
                margin-bottom: rem(6px);
            }
        }
        .card.over {
            color: #bcbcbc;
            background: url(../image/quan-hui.png)rem(18px) center no-repeat;
            background-size: rem(713px) rem(303px);
            .stamp {
                width: rem(151px);
                height: rem(116px);
                background: url(../image/i-down.png)center center no-repeat;
                background-size: rem(151px) rem(116px);
                position: absolute;
                right: rem(57px);
                bottom: rem(30px);
            }
            .icon {
                background-color: #bcbcbc;
            }
            .name {
                color: #bcbcbc;
            }
            .status {
                background-color: #f8f8f8;
                color: #c0c0c0;
            }
        }
    }