    @charset "UTF-8";
    $baseFontSize: 75px !default; // pixels to rem
    @function rem($px) {
        @return $px / $baseFontSize * 1rem;
    }

    .fl {
        float: left;
    }

    .fr {
        float: right;
    }

    [data-page="setmanjian"] {
        background-color: #fff;
        .l-label {
            width: rem(720px);
            height: rem(88px);
            line-height: rem(88px);
            margin-left: rem(30px);
            border-bottom: 2px solid #f3f4f6;
            .right {
                margin-right: rem(30px);
                input {
                    width: rem(500px);
                    text-align: right;
                }
                i {
                    width: rem(15px);
                    height: rem(25px);
                    background: url(../image/icon_jiantou_right_03.jpg)center center no-repeat;
                    background-size: rem(15px) rem(25px);
                    float: right;
                    margin-top: rem(32px);
                    margin-left: rem(25px);
                }
                span {
                    color: #a0a0a2;
                }
            }
        }
        .l-title {
            width: 10rem;
            height: rem(88px);
            background-color: #f5f6f8;
            line-height: rem(88px);
            i {
                width: rem(29px);
                height: rem(29px);
                float: left;
                background: url(../image/icon-laba_03.jpg)center center no-repeat;
                background-size: rem(29px) rem(29px);
                margin-left: rem(30px);
                margin-top: rem(30px);
                margin-right: rem(20px);
            }
        }
        .l-manjian {
            border-bottom: rem(15px) solid #f5f6f8;
        }
        .l-btn {
            width: 10rem;
            height: rem(88px);
            line-height: rem(88px);
            text-align: center;
            position: relative;
            border-bottom: 2px dotted #e5e6e8;
            border-top: 2px dotted #e5e6e8;
            i {
                width: rem(36px);
                height: rem(40px);
                background: url(../image/Add.png)center center no-repeat;
                background-size: rem(36px) rem(40px);
                position: absolute;
                left: rem(300px);
                top: rem(25px);
            }
        }
        .l-foot {
            height: rem(88px);
            line-height: rem(88px);
            padding-bottom: rem(100px);
            h1 {
                float: left;
                margin-left: rem(30px);
                margin-right: rem(10px);
                font-size: rem(30px);
            }
            em {
                font-size: rem(24px);
                color: #3a7dff;
            }
            .am-switch {
                float: right;
                margin-top: rem(20px);
                width: rem(131px);
                height: rem(88px);
            }
        }
        .btn-yes {
            width: 10rem;
            height: rem(98px);
            line-height: rem(98px);
            text-align: center;
            font-size: rem(36px);
            background-color: #dedede;
            color: #949494;
            color: #fff;
            position: fixed;
            left: 0;
            bottom: 0;
        }
        .dis {
            background-color: #3663f2;
            color: #fff;
        }
    }

    [data-page="setfanquan"] {
        background-color: #fff;
        .l-label {
            width: rem(720px);
            height: rem(88px);
            line-height: rem(88px);
            margin-left: rem(30px);
            border-bottom: 2px solid #f3f4f6;
            .right {
                margin-right: rem(30px);
                input {
                    width: rem(500px);
                    text-align: right;
                }
                .money-input {
                    width: rem(200px);
                    text-align: center;
                }
                i {
                    width: rem(15px);
                    height: rem(25px);
                    background: url(../image/icon_jiantou_right_03.jpg)center center no-repeat;
                    background-size: rem(15px) rem(25px);
                    float: right;
                    margin-top: rem(32px);
                    margin-left: rem(25px);
                }
                span {
                    color: #a0a0a2;
                }
                .distt {
                    color: #000;
                }
            }
        }
        .l-title {
            width: 10rem;
            height: rem(88px);
            background-color: #f5f6f8;
            line-height: rem(88px);
            i {
                width: rem(29px);
                height: rem(29px);
                float: left;
                background: url(../image/icon-laba_03.jpg)center center no-repeat;
                background-size: rem(29px) rem(29px);
                margin-left: rem(30px);
                margin-top: rem(30px);
                margin-right: rem(20px);
            }
        }
        .l-manjian {
            border-bottom: rem(15px) solid #f5f6f8;
        }
        .l-btn {
            width: 10rem;
            height: rem(88px);
            line-height: rem(88px);
            text-align: center;
            position: relative;
            border-bottom: 2px dotted #e5e6e8;
            border-top: 2px dotted #e5e6e8;
            i {
                width: rem(36px);
                height: rem(40px);
                background: url(../image/Add.png)center center no-repeat;
                background-size: rem(36px) rem(40px);
                position: absolute;
                left: rem(300px);
                top: rem(25px);
            }
        }
        .l-foot {
            height: rem(88px);
            line-height: rem(88px);
            border-bottom: 2px solid #f3f4f6;
            h1 {
                float: left;
                margin-left: rem(30px);
                margin-right: rem(10px);
                font-size: rem(30px);
            }
            em {
                font-size: rem(25px);
                color: #3a7dff;
            }
            .am-switch {
                float: right;
                margin-top: rem(20px);
                width: rem(131px);
                height: rem(88px);
            }
        }
        .btn-yes {
            width: 10rem;
            height: rem(98px);
            line-height: rem(98px);
            text-align: center;
            font-size: rem(36px);
            background-color: #dedede;
            color: #949494;
            color: #fff;
            position: fixed;
            left: 0;
            bottom: 0;
        }
        .dis {
            background-color: #3663f2;
            color: #fff;
        }
    }

    [data-page="sethongbao"] {
        background-color: #fff;
        .l-label {
            width: rem(720px);
            height: rem(88px);
            line-height: rem(88px);
            margin-left: rem(30px);
            border-bottom: 2px solid #f3f4f6;
            .right {
                margin-right: rem(30px);
                input {
                    width: rem(500px);
                    text-align: right;
                }
                .money-input {
                    width: rem(200px);
                    text-align: center;
                }
                i {
                    width: rem(15px);
                    height: rem(25px);
                    background: url(../image/icon_jiantou_right_03.jpg)center center no-repeat;
                    background-size: rem(15px) rem(25px);
                    float: right;
                    margin-top: rem(32px);
                    margin-left: rem(25px);
                }
                span {
                    color: #a0a0a2;
                }
                .distt {
                    color: #000;
                }
            }
        }
        .l-title {
            width: 10rem;
            height: rem(88px);
            background-color: #f5f6f8;
            line-height: rem(88px);
            i {
                width: rem(29px);
                height: rem(29px);
                float: left;
                background: url(../image/icon-laba_03.jpg)center center no-repeat;
                background-size: rem(29px) rem(29px);
                margin-left: rem(30px);
                margin-top: rem(30px);
                margin-right: rem(20px);
            }
        }
        .l-manjian {
            border-bottom: rem(15px) solid #f5f6f8;
        }
        .l-btn {
            width: 10rem;
            height: rem(88px);
            line-height: rem(88px);
            text-align: center;
            position: relative;
            border-bottom: 2px dotted #e5e6e8;
            border-top: 2px dotted #e5e6e8;
            i {
                width: rem(36px);
                height: rem(40px);
                background: url(../image/Add.png)center center no-repeat;
                background-size: rem(36px) rem(40px);
                position: absolute;
                left: rem(300px);
                top: rem(25px);
            }
        }
        .l-foot {
            height: rem(88px);
            line-height: rem(88px);
            border-bottom: 2px solid #f3f4f6;
            h1 {
                float: left;
                margin-left: rem(30px);
                margin-right: rem(10px);
                font-size: rem(30px);
            }
            em {
                font-size: rem(25px);
                color: #3a7dff;
            }
            .am-switch {
                float: right;
                margin-top: rem(20px);
                width: rem(131px);
                height: rem(88px);
            }
        }
        .btn-yes {
            width: 10rem;
            height: rem(98px);
            line-height: rem(98px);
            text-align: center;
            font-size: rem(36px);
            background-color: #dedede;
            color: #949494;
            color: #fff;
            position: fixed;
            left: 0;
            bottom: 0;
        }
        .dis {
            background-color: #3663f2;
            color: #fff;
        }
    }

    [data-page="setzhekou"] {
        background-color: #fff;
        .lay {
            width: 10rem;
            height: rem(1250px);
            overflow: scroll;
            position: fixed;
            left: 0;
            top: 0;
            background-color: #fff;
            .row-ad,
            .row-time {
                width: rem(720px);
                height: rem(90px);
                line-height: rem(90px);
                margin-left: rem(30px);
                border-bottom: 2px solid #f3f3f3;
                h1 {
                    float: left;
                }
                .btn {
                    float: right;
                    margin-top: rem(24px);
                    margin-right: rem(30px);
                    width: rem(44px);
                    height: rem(44px);
                    background: url(../image/Unchecked.png)center center no-repeat;
                    background-size: rem(44px) rem(44px);
                }
                .btn.active {
                    background: url(../image/checkmark.png)center center no-repeat;
                    background-size: rem(44px) rem(44px);
                }
                .btn-2 {
                    float: right; //margin-top: rem(20px);
                    width: rem(131px);
                    height: rem(88px);
                    background: url(../image/yy_icon_03.jpg)center center no-repeat;
                    background-size: rem(131px) rem(88px);
                }
                .btn-2.active {
                    background: url(../image/yy_icon_05.jpg)center center no-repeat;
                    background-size: rem(131px) rem(88px);
                }
                span {
                    float: right;
                    font-size: rem(28px);
                    color: #a0a0a2;
                }
            }
            .row-line {
                width: rem(720px);
                height: rem(90px);
                line-height: rem(90px);
                margin-left: rem(30px);
                text-align: center;
                border-bottom: 2px solid #f3f3f3;
            }
            .br {
                width: 10rem;
                height: rem(22px);
                background-color: #f5f6f8;
            }
            .row-2 {
                width: 10rem;
                height: rem(88px);
                line-height: rem(88px);
                text-align: center;
                position: relative;
                border-bottom: 2px dotted #e5e6e8;
                border-top: 2px dotted #e5e6e8;
                margin-bottom: rem(150px);
                i {
                    width: rem(36px);
                    height: rem(40px);
                    background: url(../image/Add.png)center center no-repeat;
                    background-size: rem(36px) rem(40px);
                    position: absolute;
                    left: rem(260px);
                    top: rem(25px);
                }
            }
            .btn-yes {
                width: 10rem;
                height: rem(98px);
                line-height: rem(98px);
                text-align: center;
                font-size: rem(36px);
                background-color: #3562f3;
                color: #949494;
                color: #fff;
                position: fixed;
                left: 0;
                bottom: 0;
            }
            .pop {
                position: fixed;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                z-index: 100;
                .shadow {
                    width: 10rem;
                    height: 100%;
                    background-color: #000;
                    opacity: .3;
                    position: fixed;
                    left: 0;
                    top: 0;
                }
                .pop-contain {
                    width: 10rem;
                    height: rem(385px);
                    overflow: hidden;
                    background-color: #fff;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    border-top: 1px solid #b1b1b3;
                    .pop-head {
                        height: rem(87px);
                        line-height: rem(87px);
                        background-color: #f6f6f8;
                        .title {
                            font-size: rem(30px);
                            color: #0e7bf4;
                        }
                        .lf {
                            float: left;
                            margin-left: rem(32px);
                        }
                        .lr {
                            float: right;
                            margin-right: rem(32px);
                        }
                    }
                    .sw-1 {
                        font-size: rem(30px);
                        position: absolute;
                        left: rem(124px);
                        top: rem(122px);
                    }
                    .sw-2 {
                        font-size: rem(30px);
                        position: absolute;
                        right: rem(124px);
                        top: rem(122px);
                    }
                    .swiper-container1,
                    .swiper-container2 {
                        width: rem(375px);
                        height: rem(220px);
                        position: absolute;
                        overflow: hidden;
                        .swiper-slide {
                            height: rem(70px);
                            text-align: center;
                            line-height: rem(70px);
                            font-size: rem(30px);
                            color: #a6a6a6;
                        }
                        .swiper-slide-active {
                            border-bottom: 1px solid #e2e2e2;
                            border-top: 1px solid #e2e2e2;
                            color: #404040;
                        }
                    }
                    .swiper-container1 {
                        left: 0;
                        top: rem(166px);
                    }
                    .swiper-container2 {
                        right: 0;
                        top: rem(166px);
                    }
                }
            }
        }
        .l-label {
            width: rem(720px);
            height: rem(88px);
            line-height: rem(88px);
            margin-left: rem(30px);
            border-bottom: 2px solid #f3f4f6;
            .right {
                margin-right: rem(30px);
                input {
                    width: rem(450px);
                    text-align: right;
                }
                .money-input {
                    width: rem(200px);
                    text-align: center;
                }
                i {
                    width: rem(15px);
                    height: rem(25px);
                    background: url(../image/icon_jiantou_right_03.jpg)center center no-repeat;
                    background-size: rem(15px) rem(25px);
                    float: right;
                    margin-top: rem(32px);
                    margin-left: rem(25px);
                }
                span {
                    color: #a0a0a2;
                    margin-left: rem(5px);
                }
                .distt {
                    color: #000;
                }
            }
        }
        .l-label-place {
            width: rem(720px);
            height: rem(140px);
            line-height: rem(88px);
            margin-left: rem(30px);
            border-bottom: 2px solid #f3f4f6;
            position: relative;
            span {
                font-size: rem(28px);
                position: absolute;
                left: 0;
                bottom: 0;
                color: #a0a0a2;
            }
            .right {
                height: rem(88px);
                margin-right: rem(30px);
                input {
                    width: rem(500px);
                    text-align: right;
                }
                .money-input {
                    width: rem(200px);
                    text-align: center;
                    color: #000;
                }
                i {
                    width: rem(15px);
                    height: rem(25px);
                    background: url(../image/icon_jiantou_right_03.jpg)center center no-repeat;
                    background-size: rem(15px) rem(25px);
                    float: right;
                    margin-top: rem(32px);
                    margin-left: rem(25px);
                }
                .distt {
                    color: #000;
                }
            }
        }
        .l-title {
            width: 10rem;
            height: rem(88px);
            background-color: #f5f6f8;
            line-height: rem(88px);
            i {
                width: rem(29px);
                height: rem(29px);
                float: left;
                background: url(../image/icon-laba_03.jpg)center center no-repeat;
                background-size: rem(29px) rem(29px);
                margin-left: rem(30px);
                margin-top: rem(30px);
                margin-right: rem(20px);
            }
        }
        .l-manjian {
            border-bottom: rem(15px) solid #f5f6f8;
        }
        .l-btn {
            width: 10rem;
            height: rem(88px);
            line-height: rem(88px);
            text-align: center;
            position: relative;
            border-bottom: 2px dotted #e5e6e8;
            border-top: 2px dotted #e5e6e8;
            i {
                width: rem(36px);
                height: rem(40px);
                background: url(../image/Add.png)center center no-repeat;
                background-size: rem(36px) rem(40px);
                position: absolute;
                left: rem(300px);
                top: rem(25px);
            }
        }
        .l-foot {
            height: rem(88px);
            line-height: rem(88px);
            border-bottom: 2px solid #f3f4f6;
            h1 {
                float: left;
                margin-left: rem(30px);
                margin-right: rem(10px);
                font-size: rem(30px);
            }
            em {
                font-size: rem(25px);
                color: #3a7dff;
            }
            .btn {
                float: right; //margin-top: rem(20px);
                width: rem(131px);
                height: rem(88px);
                background: url(../image/yy_icon_03.jpg)center center no-repeat;
                background-size: rem(131px) rem(88px);
            }
            .btn.active {
                background: url(../image/yy_icon_05.jpg)center center no-repeat;
                background-size: rem(131px) rem(88px);
            }
        }
        .btn-yes {
            width: 10rem;
            height: rem(98px);
            line-height: rem(98px);
            text-align: center;
            font-size: rem(36px);
            background-color: #dedede;
            color: #949494;
            color: #fff;
            position: fixed;
            left: 0;
            bottom: 0;
        }
        .dis {
            background-color: #3663f2;
            color: #fff;
        }
    }

    [data-page="setfanwu"] {
        background-color: #fff;
        .l-label {
            width: rem(720px);
            min-height: rem(88px);
            line-height: rem(88px);
            margin-left: rem(30px);
            border-bottom: 2px solid #f3f4f6;
            .right {
                margin-right: rem(30px);
                input {
                    width: rem(500px);
                    text-align: right;
                }
                .money-input {
                    width: rem(200px);
                    text-align: center;
                }
                i {
                    width: rem(15px);
                    height: rem(25px);
                    background: url(../image/icon_jiantou_right_03.jpg)center center no-repeat;
                    background-size: rem(15px) rem(25px);
                    float: right;
                    margin-top: rem(32px);
                    margin-left: rem(25px);
                }
                span {
                    color: #a0a0a2;
                }
                .distt {
                    color: #000;
                }
            }
            .yy-all {
                float: left;
                width: rem(720px);
                li {
                    float: right;
                    text-align: right;
                    width: rem(720px);
                    margin-right: rem(70px);
                    height: rem(25px);
                    line-height: rem(25px);
                    color: #497ef0;
                    font-size: rem(24px);
                    margin-bottom: rem(20px);
                }
            }
        }
        .l-title {
            width: 10rem;
            height: rem(88px);
            background-color: #f5f6f8;
            line-height: rem(88px);
            i {
                width: rem(29px);
                height: rem(29px);
                float: left;
                background: url(../image/icon-laba_03.jpg)center center no-repeat;
                background-size: rem(29px) rem(29px);
                margin-left: rem(30px);
                margin-top: rem(30px);
                margin-right: rem(20px);
            }
        }
        .l-manjian {
            border-bottom: rem(15px) solid #f5f6f8;
        }
        .l-btn {
            width: 10rem;
            height: rem(88px);
            line-height: rem(88px);
            text-align: center;
            position: relative;
            border-bottom: 2px dotted #e5e6e8;
            border-top: 2px dotted #e5e6e8;
            i {
                width: rem(36px);
                height: rem(40px);
                background: url(../image/Add.png)center center no-repeat;
                background-size: rem(36px) rem(40px);
                position: absolute;
                left: rem(300px);
                top: rem(25px);
            }
        }
        .l-foot {
            height: rem(88px);
            line-height: rem(88px);
            padding-bottom: rem(150px);
            h1 {
                float: left;
                margin-left: rem(30px);
                margin-right: rem(10px);
                font-size: rem(30px);
            }
            em {
                font-size: rem(25px);
                color: #3a7dff;
            }
            .am-switch {
                float: right;
                margin-top: rem(20px);
                width: rem(131px);
                height: rem(88px);
            }
        }
        .btn-yes {
            width: 10rem;
            height: rem(98px);
            line-height: rem(98px);
            text-align: center;
            font-size: rem(36px);
            background-color: #dedede;
            color: #949494;
            color: #fff;
            position: fixed;
            left: 0;
            bottom: 0;
        }
        .dis {
            background-color: #3663f2;
            color: #fff;
        }
    }

    [data-page="choosediscount"] {
        background-color: #f5f6f8;
        font-size: rem(28px);
        .headbar {
            height: rem(80px);
            background-color: #fff;
            overflow-x: scroll;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
            white-space: nowrap;
            .btn {
                display: inline-table;
                vertical-align: middle;
                height: rem(80px);
                text-align: center;
                line-height: rem(80px);
                color: #7c8c99;
                font-size: rem(28px);
                margin: 0 rem(45px);
            }
            .btn.active {
                color: #4777f3;
                border-bottom: rem(4px) solid #4777f3;
            }
        }
        .t-tip {
            float: left;
            width: 10rem;
            height: rem(80px);
            line-height: rem(80px);
            text-align: center;
            font-size: rem(28px);
            color: #9fa0a4;
        }
        .contain {
            float: left;
            width: 10rem;
            background-color: #f5f6f8;
            padding-bottom: rem(100px);
            .food {
                width: rem(690px);
                height: rem(200px);
                overflow: hidden;
                margin: 0 auto;
                background-color: #fff;
                margin-bottom: rem(22px);
                .left {
                    width: rem(200px);
                    height: rem(200px);
                }
                .right {
                    width: rem(490px);
                    height: rem(200px);
                    position: relative;
                    overflow: hidden;
                    h1 {
                        float: left;
                        color: #000;
                        margin-left: rem(30px);
                        margin-top: rem(28px);
                        margin-right: rem(10px);
                    }
                    h2 {
                        color: #ff3635;
                        position: absolute;
                        left: rem(30px);
                        top: rem(126px);
                    }
                    h3 {
                        color: #626262;
                        position: absolute;
                        left: rem(30px);
                        top: rem(78px);
                    }
                    .span-tip {
                        float: left;
                        font-size: rem(24px);
                        text-align: center;
                        background-color: #fe492c;
                        padding: rem(2px) rem(15px);
                        margin-top: rem(28px);
                        color: #fff;
                        border-radius: rem(20px);
                    }
                    .icon {
                        width: rem(44px);
                        height: rem(44px);
                        background: url(../image/Unchecked.png)center center no-repeat;
                        background-size: rem(44px) rem(44px);
                        position: absolute;
                        right: rem(19px);
                        top: rem(79px);
                    }
                }
            }
            .food.active {
                .icon {
                    width: rem(44px);
                    height: rem(44px);
                    background: url(../image/checkmark.png)center center no-repeat;
                    background-size: rem(44px) rem(44px);
                    position: absolute;
                    right: rem(19px);
                    top: rem(79px);
                }
            }
            .no-tip {
                float: left;
                margin-top: rem(320px);
                width: 10rem;
                height: rem(300px);
                position: relative;
                .img {
                    width: rem(225px);
                    height: rem(189px);
                    background: url(../image/zanweifu.png)center center no-repeat;
                    background-size: rem(225px) rem(189px);
                    position: absolute;
                    left: rem(265px);
                    top: 0;
                }
                p {
                    position: absolute;
                    width: 10rem;
                    text-align: center;
                    left: 0;
                    top: rem(200px);
                    font-size: rem(30px);
                    color: #848d96;
                }
            }
        }
        .btn-yes {
            width: 10rem;
            height: rem(98px);
            line-height: rem(98px);
            text-align: center;
            font-size: rem(36px);
            background-color: #3562f3;
            color: #949494;
            color: #fff;
            position: fixed;
            left: 0;
            bottom: 0;
        }
    }

    [data-page="choosereturn"] {
        background-color: #f5f6f8;
        font-size: rem(28px);
        .headbar {
            height: rem(80px);
            background-color: #fff;
            overflow: scroll;
            overflow-y: hidden;
            -webkit-overflow-scrolling: touch;
            white-space: nowrap;
            .btn {
                display: inline-table;
                vertical-align: middle;
                height: rem(80px);
                text-align: center;
                line-height: rem(80px);
                color: #7c8c99;
                font-size: rem(28px);
                margin: 0 rem(45px);
            }
            .btn.active {
                color: #4777f3;
                border-bottom: rem(4px) solid #4777f3;
            }
        }
        .t-tip {
            float: left;
            width: 10rem;
            font-size: rem(28px);
            position: relative;
            min-height: rem(80px);
            margin-bottom: rem(20px);
            h1 {
                float: left;
                width: rem(80px);
                height: rem(37px);
                background-color: #4a7ff1;
                border-radius: rem(10px);
                margin-left: rem(30px);
                margin-right: rem(20px);
                margin-top: rem(23px);
                color: #fff;
                text-align: center;
                line-height: rem(37px);
            }
            .food-point {
                float: left;
                width: rem(530px);
                margin-top: rem(25px);
                font-size: rem(26px);
                .tt-span {
                    margin: 0 rem(10px);
                }
            }
            .btn-xiala {
                width: rem(80px);
                height: rem(80px);
                background: url(../image/icon-xiala_03.jpg)rem(30px) rem(33px) no-repeat;
                background-size: rem(20px) rem(15px);
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        .contain {
            float: left;
            width: 10rem;
            background-color: #f5f6f8;
            padding-bottom: rem(100px);
            .food {
                width: rem(690px);
                height: rem(200px);
                overflow: hidden;
                margin: 0 auto;
                background-color: #fff;
                margin-bottom: rem(22px);
                .left {
                    width: rem(200px);
                    height: rem(200px);
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
                .right {
                    width: rem(490px);
                    height: rem(200px);
                    position: relative;
                    overflow: hidden;
                    h1 {
                        float: left;
                        color: #000;
                        margin-left: rem(30px);
                        margin-top: rem(28px);
                        margin-right: rem(10px);
                    }
                    h2 {
                        color: #ff3635;
                        position: absolute;
                        left: rem(30px);
                        top: rem(126px);
                    }
                    h3 {
                        color: #626262;
                        position: absolute;
                        left: rem(30px);
                        top: rem(78px);
                    }
                    .span-tip {
                        float: left;
                        font-size: rem(24px);
                        text-align: center;
                        background-color: #fe492c;
                        padding: rem(2px) rem(15px);
                        margin-top: rem(28px);
                        color: #fff;
                        border-radius: rem(20px);
                    }
                    .icon {
                        width: rem(44px);
                        height: rem(44px);
                        background: url(../image/Unchecked.png)center center no-repeat;
                        background-size: rem(44px) rem(44px);
                        position: absolute;
                        right: rem(19px);
                        top: rem(79px);
                    }
                    .icon.active {
                        background: url(../image/checkmark.png)center center no-repeat;
                        background-size: rem(44px) rem(44px);
                    }
                    .area {
                        width: rem(280px);
                        height: rem(80px);
                        overflow: hidden;
                        position: absolute;
                        right: rem(10px);
                        bottom: rem(10px);
                        .btn {
                            width: rem(80px);
                            height: rem(80px);
                            float: right;
                        }
                        .btn-add {
                            background: url(../image/icon-add.jpg)rem(22px) rem(20px) no-repeat;
                            background-size: rem(37px) rem(37px);
                        }
                        .btn-reduce {
                            background: url(../image/icon-reduce.jpg)rem(22px) rem(20px) no-repeat;
                            background-size: rem(37px) rem(37px);
                        }
                        .food-num {
                            float: right;
                            width: rem(120px);
                            height: rem(80px);
                            text-align: center;
                            color: #000;
                            line-height: rem(80px);
                            font-size: rem(28px);
                            overflow: hidden;
                        }
                    }
                }
            }
            .no-tip {
                float: left;
                margin-top: rem(320px);
                width: 10rem;
                height: rem(300px);
                position: relative;
                .img {
                    width: rem(225px);
                    height: rem(189px);
                    background: url(../image/zanweifu.png)center center no-repeat;
                    background-size: rem(225px) rem(189px);
                    position: absolute;
                    left: rem(265px);
                    top: 0;
                }
                p {
                    position: absolute;
                    width: 10rem;
                    text-align: center;
                    left: 0;
                    top: rem(200px);
                    font-size: rem(30px);
                    color: #848d96;
                }
            }
        }
        .btn-yes {
            width: 10rem;
            height: rem(98px);
            line-height: rem(98px);
            text-align: center;
            font-size: rem(36px);
            background-color: #3562f3;
            color: #949494;
            color: #fff;
            position: fixed;
            left: 0;
            bottom: 0;
        }
    }